body {
  margin: 0px;
  font-family: "Quicksand", sans-serif;
  background-image: url("/assets/Background.jpeg");
}

.parent {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  margin: 50px;
  padding: 50px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.childMedia {
  text-align: center;
}

img {
  width: 100px;
}

.backHref {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

a {
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  transition: transform 0.5s;
  color: black;
  border-radius: 5px;
}

a:hover {
  transform: scale(1.1);
  background: linear-gradient(to top right, #ffffff 0%, #66ccff 100%);
}
